body {
	margin: 0px;
	height: 800px;
	font-family: calibri, arial;
	background: #DDD;
}

#header {
	width: 100%;
	height: auto;
}

#banner {
	margin: 0px auto;
	height: 250px;
	width: 1060px;
	background: #E0EEEE;
	background-image: url(../img/lol_strategy_banner.jpg);
	background-repeat: no-repeat;
	border: 6px solid #000;
	border-bottom: 0px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

#headerBottom {
	margin: 0px auto;
	padding: 6px 0px;
	width: 1060px;
	text-align: center;
	font-size: 28px;
	color: #dbc44c;
	font-weight: bold;
	border-top: 3px solid #000;
	border-left: 6px solid #000;
	border-right: 6px solid #000;
	background: linear-gradient(to right, lightgrey, white, lightgrey);
	background: #353535;
}

#champTable  {
	width: 1036px;
	height: auto;
	margin: 0px auto;
	padding: 12px;
	border: 6px solid #000;
	text-align: middle;
	background: #FFF;
}
#champTable td {
	width: 10%;
}
#champTable select {
	width: 100%;
	padding: 4px;
	border-radius: 2px;
}
#submitButton {
	width: 200px;
	height: 50px;
	border-radius: 8px;
	font-size: 18px;
	background-color: #dbc44c;
	color: #222;
}

#result {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1060px;
	height: 300px;
	border: 6px solid #000;
	border-top: 0;
	background: #FFF;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}